html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(28, 0, 110);
} 


.main-section {
    background: url(file:///Users/generalassembly/dev/Project1/attempted-portfolio/6690817_2308.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: 100%;
    flex-direction: column;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    height: 3rem;
    text-align: center;
    z-index: 10;
    opacity: 1;
    color: white;
    padding-top: 10px;
    background-color: black;
}

/*Content*/
.main-section {
    display: flex;
}

#middle {
    margin: auto auto;
    justify-content: center;
    display: table;
    text-align: center;
}
h3 {
    color: white;
}

p {
    color: white;
}
#menuButton {
    display: table-cell;
    vertical-align: bottom;    
}

/*When button is clicked*/
.main-section.active{
    transform: scale(.5);
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: center;
    height: 3rem;
    text-align: center;
    z-index: 10;
    opacity: 1;
    color: white;
    padding-top: 10px;
    background-color: black;
}